apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: prometheus-ingress
spec:
  ingressClassName: nginx
  rules:
{% for worker in ['worker1', 'worker2', 'worker3'] %}
    - host: prometheus.{{ hostvars[worker]['private_ip'] }}.nip.io
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: monitoring-kube-prometheus-prometheus
                port:
                  number: 9090
{% endfor %}
{% for lb_ip in lb_ips %}
    - host: prometheus.{{ lb_ip }}.nip.io
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: monitoring-kube-prometheus-prometheus
                port:
                  number: 9090
{% endfor %}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: grafana-ingress
spec:
  ingressClassName: nginx
  rules:
{% for worker in ['worker1', 'worker2', 'worker3'] %}
    - host: grafana.{{ hostvars[worker]['private_ip'] }}.nip.io
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: monitoring-grafana
                port:
                  number: 80
{% endfor %}
{% for lb_ip in lb_ips %}
    - host: grafana.{{ lb_ip }}.nip.io
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: monitoring-grafana
                port:
                  number: 80
{% endfor %}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: alertmanager-ingress
spec:
  ingressClassName: nginx
  rules:
{% for worker in ['worker1', 'worker2', 'worker3'] %}
    - host: alertmanager.{{ hostvars[worker]['private_ip'] }}.nip.io
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: monitoring-kube-prometheus-alertmanager
                port:
                  number: 9093
{% endfor %}
{% for lb_ip in lb_ips %}
    - host: alertmanager.{{ lb_ip }}.nip.io
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: monitoring-kube-prometheus-alertmanager
                port:
                  number: 9093
{% endfor %}